/*  Filmic - Films From Friends
    Sahil Gupta and Jeff Ding
    CS 458 = Automated Decision Systems
*/

textarea {
  width: 300px;
  height: 200px;
}

.textarea-wide {
    width: 600px;
}

section {
  background: #f7f7f7;
  border-radius: 3px;
  margin: 1em;
}

input[type="number"] {
  text-align: center;
  padding-left: 10px;
}
