<!DOCTYPE html>
<html ng-app='filmicApp'>
  <head>
    <!-- Filmic - Films From Friends
         Sahil Gupta and Jeff Ding
         CS 458 = Automated Decision Systems
    -->
    <title>filmic - films from friends</title>
    <link rel='stylesheet' href='filmic.css'>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  </head>

  <body ng-controller='filmicController' ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools"> filmic </div>
    </md-toolbar>
    
    <md-content flex layout-padding>

        <md-button class="md-raised md-primary" ng-click='sayHello()'>welcome</md-button>
        <section layout="row" layout-wrap>
          <p>{{greeting}}</p>
        </section>
                    
        <md-button class="md-raised" ng-click='listInfo()'>list personal favorites</md-button>
        <section layout="row" layout-wrap>
            <textarea ng-model='movieList'></textarea>
            <textarea ng-model='songList'></textarea>
            <textarea ng-model='bookList'></textarea>
        </section>

        <md-button class="md-raised" ng-click='getNeighbors()'>get neighbors</md-button>
        <md-input-container>
          <md-switch ng-model="enhanced">{{enhanced ? "enhanced (movies, songs, books)" : "normal (movies)"}}  </md-switch>
        </md-input-container>
        <section layout="row" layout-wrap>
            <textarea ng-model='neighborList'></textarea>
        </section>

        <md-button class="md-raised md-warn" ng-click='getRecs()'>get recommendations</md-button>
        <md-input-container>
          <md-switch ng-model="hipster">hipster films {{hipster ? "on" : "off"}}</md-switch>
        </md-input-container>

        <!-- sliders -->
        <div layout>
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">box office {{hipster ? "(negative)" : ""}}</span>
          </div>
          <md-slider flex min="0" max="100" ng-model="weights.popularity"  class="md-primary"></md-slider>
          <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="weights.popularity">
          </div>
        </div>
        <div layout>
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">tomatometer</span>
          </div>
          <md-slider flex min="0" max="100" ng-model="weights.reviews" class="md-primary"></md-slider>
          <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="weights.reviews">
          </div>
        </div>
        <div layout>
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">neighbors</span>
          </div>
          <md-slider flex min="0" max="100" ng-model="weights.trustworthiness"  class="md-primary"></md-slider>
          <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="weights.trustworthiness">
          </div>
        </div>
        <div layout>
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">film buffs</span>
          </div>
          <md-slider flex min="0" max="100" ng-model="weights.filmbuff"  class="md-primary"></md-slider>
          <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="weights.filmbuff">
          </div>
        </div>
        <!-- end sliders -->

        <section layout="row" layout-wrap>
            <textarea class="textarea-wide" ng-model='recs'></textarea>
        </section>

    </md-content>

    <!-- angular.js and material libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src='filmic.js'></script>

  </body>
</html>
