<!DOCTYPE html>
<html ng-app="filmicApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="filmic.js"></script>
    <link rel="stylesheet" href="filmic.css">
  </head>

  <body ng-controller="filmicController">
    <h2>filmic</h2>
    
    <div>
        <button ng-click='sayHello()'>greet</button>
        {{greeting}}
    </div>

    <fb:login-button show-faces="true" max-rows="1" size="large"></fb:login-button>
    <button ng-click='logout()'>log out</button>
  </body>
</html>