<!DOCTYPE html>
<html ng-app='filmicApp'>
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script src='filmic.js'></script>
    <link rel='stylesheet' href='filmic.css'>
  </head>

  <body ng-controller='filmicController'>
    <h2>filmic</h2>
    
    <button ng-click='sayHello()'>welcome</button>
    <br>
    {{greeting}}
    
    <br><br>
    
    <button ng-click='listInfo()'>list personal favorites</button>
    <br>
    <textarea ng-model='movieList'></textarea>
    <textarea ng-model='songList'></textarea>
    <textarea ng-model='bookList'></textarea>

    <br><br>

    <button ng-click='getNeighbors()'>get neighbors</button>
    <br>
    <textarea ng-model='neighborList'></textarea>

    <br><br>

    <button ng-click='getRecs()'>get recommendations</button>
    <br>
    <textarea ng-model='recs'></textarea>


  </body>
</html>
